<form #todoForm="ngForm" (ngSubmit)="value ? onEdit() : onSubmit(todoForm);">
  <input type="hidden" [value]="value?.sno" id="sno" name="sno">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input required type="text" [value]="value?.title" [(ngModel)]="title" class="form-control" #titleInput name="title">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description (optional)</label>
    <input type="text" [value]="value?.desc ?? ''" [(ngModel)]="desc" class="form-control" #descInput name="desc">
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">{{value ? 'Edit Todo' : 'Add Todo'}}</button>
  </div>
</form>